body {
  margin: 0;
    display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #161d26;
  font-family: sans-serif;
  overflow-y: auto;

  background: radial-gradient(circle at 20% 20%, #d2a054, transparent 70%),
              radial-gradient(circle at 80% 30%, #2692e5, transparent 70%),
              radial-gradient(circle at 50% 80%, #9276b3, transparent 70%),
              #ffffff;
  background-size: 200% 200%;
  animation: moveGradients 7s ease-in-out infinite alternate;
}

@keyframes moveGradients {
  0% {
    background-position: 20% 20%, 80% 30%, 50% 80%, center;
  }
  50% {
    background-position: 80% 80%, 20% 50%, 70% 20%, center;
  }
  100% {
    background-position: 50% 50%, 70% 80%, 30% 30%, center;
  }
}

.squares-container{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin: 10px;
    height: 60vh; 
    gap: 20px;
    font-family: 'Amazon Ember Display', sans-serif;
    color: #161d26;
}

.square{
    font-size: 25px;
    text-align: center;
    width: 300px;
    height: 200px;
    margin: 35px;
    background-color: white;
    border-radius: 30px;
    padding: 30px;
    color: #161d26;
}

.square-subtext{
    font-size: 18px;
    margin-top: 20px;
    text-align: left;
    padding-left: 5px;
}

@font-face {
  font-family: 'Amazon Ember Display';
    src: url('assets/ember-fonts/Ember Display/AmazonEmberDisplay_Rg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.hero-container{
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 50px;
}

.hero-maintext{
    font-family: 'Amazon Ember Display', sans-serif;
    font-size: 48px;
    margin: 20px;
}

.hero-subtext{
    font-family: 'Amazon Ember Display', sans-serif;
    font-size: 24px;
    margin: 20px;
}

.left-button{
    font-family: 'Amazon Ember Display', sans-serif;
    font-size: 15px;
    background-color: #161d26;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 15px 25px;
    cursor: pointer;
    margin: 10px;
}

.right-button{
    font-family: 'Amazon Ember Display', sans-serif;
    font-size: 15px;
    background-color: white;
    color: #161d26;
    border: 2px solid #161d26;
    border-radius: 30px;
    padding: 15px 25px;
    cursor: pointer;
    margin: 10px;
}

.button-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}



